@use '../../../styles/variables.scss' as vars;



.dadosPessoaisSection {
    margin-bottom: 1rem;
}

.headerDados {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 5px;
    font-family: vars.$fontFamilyInter;
    

    h2{
        font-size: 1.1rem;
        font-family: vars.$fontFamilyInter;
    }
}

.iconUser {
    width: 20px;
    color: vars.$colorPreto;
}

.cardDados {
    background: #F9F8F7;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.03); 
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 350px;
}

.colunaLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.campoInfo {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.label {
    font-size: 0.95rem;
    color: #6c757d;
    font-weight: 400;
    margin-bottom: 0.1rem;
}

.valor {
    font-size: 1rem;
    color: vars.$colorPreto;
    font-weight: 500;
    word-break: break-word;
}