@use '../../../../../styles/variables.scss' as vars;
@use '../../../../../styles/animation.scss';
@use '../../../../../styles/mixin.scss' as mix;

.containerPageCategorias {
    padding: 40px;

    .titESubtitulo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 30px;

        h1 {
            font-family: vars.$fontFamilyInter;
            color: vars.$colorPreto;
            font-size: vars.$fontSizeGrande;
        }

        p {
            color: #000000a4;
            font-size: vars.$fontSizeMedia;
            font-family: vars.$fontFamilyInter;
        }
    }
}


.containerCategorias {
    background-color: #fff;
    min-height: 50vh;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    padding: 40px;


}

.headerCategorias {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    .tituloCategs {
        color: vars.$colorPreto;
        font-family: vars.$fontFamilyInter;
        display: flex;

        img {
            width: 30px;
        }
    }

    .qtdCategorias {
        padding: 5px 10px;
        background-color: #F2F2F2;
        border-radius: 10px;
        font-family: vars.$fontFamilyInter;
        color: vars.$colorPreto;
        border: 1px solid #e5e7eb;
    }

}

.categoriasFundo {
    position: relative;
    flex: 1 1 300px;
    max-width: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.categoriasFundo::before {
    content: '';
    position: absolute;
    top: -12px; // mais alto que antes
    left: -12px;
    right: -10px;
    bottom: 10px;
    background-color: #f0f0f0b5;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    z-index: 0;
}


.listaCategorias {
    position: relative;
    z-index: 1; // garante que fique acima do ::before
    background: #f2f2f2;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;



    .descricaoCategoria {
        color: vars.$colorDescricaoPreto;
        font-family: vars.$fontFamilyInter;
        margin-top: 10px;
    }

}


.listaCategoriaWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 0;
    margin: 0;
    list-style: none;
}



.listaCategorias {
    list-style: none;
    font-family: vars.$fontFamilyInter;
    font-size: vars.$fontSizeMedia;
    width: 100%;
    color: vars.$colorRosa;

    .nomeCategoria {
        text-transform: capitalize;
        font-family: vars.$fontFamilyInter;
        font-size: vars.$fontSizeMedia;
        font-weight: 700;
    }

    .iconesEdit {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .qtdProdutos {
            color: vars.$colorDescricaoPreto;
            font-family: vars.$fontFamilyInter;
            position: relative;
            display: flex;
            align-items: center;


            img {
                width: 30px;
            }
        }

    }

    .deleteCategoria {
        width: 25px;
        cursor: pointer;
    }

    .editCategoria {
        cursor: pointer;
        width: 25px;
    }

}

.modalLabel {
    @include mix.modalLabel
}

.modalOverlay {
    @include mix.modal-overlay;
}

.modalContent {
    @include mix.modal-content(500px);
}

.modalHeader {
    @include mix.modal-header;
}

.modalActions {
    @include mix.modal-actions
}

.closeButton {
    @include mix.close-buton
}

.cancelButton {
    @include mix.modal-button(#f5f5f5, #666, #f00000, #fff);
}

.createButton {
    @include mix.modal-button(vars.$colorRosa, #fff, #237e07, #fff);
}