@use '../../styles/variables.scss' as vars;

.containerSecao {
    display: flex;
    justify-content: center;
}

.cardSecao {
    width: 100%;
    height: auto;
    min-height: 40vh;
    border-radius: 12px;
    text-align: left;

}

.tituloSecao {
    display: flex;
    justify-content: flex-start;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: vars.$colorPreto;
        font-family: vars.$fontFamilyInter;
        font-size: 25px;
        font-weight: 600;

        img {
            width: 25px;
        }
    }
}

.inputSecao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.labelCampo {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: vars.$colorPreto;
    font-family: vars.$fontFamilyInter;

    input {
        border: 1px solid #9a9a9a9a;
        padding: 10px;
        border-radius: 10px;
        font-family: vars.$fontFamilyInter;
    }
}